# Introduction to Python
 Here we will use <b>Python Crash Course</b> book

In [7]:
print("Hello", "Python", "Hru", sep="====", end=" ")
print("Welcome Here")
print("Another Welcome")

Hello====Python====Hru Welcome Here
Another Welcome

In [137]:
# print("Hello", end = " -  ")
# print("world")

print("Hello", end = " ### ")
print("world")

Hello ### world

In [138]:
print("Hello", end = "\n")
print("world")

Hello
world

# Variables

<b>Data types</b>: Int, float, String, Boolean

In [8]:
a=10

In [10]:
print(type(a))

<class 'int'>

In [11]:
id(a)

1946318144

In [12]:
b=a

In [14]:
print(type(b))
id(b)

<class 'int'>

1946318144

In [15]:
c=12.4
print(type(c))

<class 'float'>

In [16]:
d=True
e=False

In [19]:
type(d), type(e)

(bool, bool)

In [20]:
name="AI"
print(type(name))

<class 'str'>

In [21]:
name=45

In [22]:
type(name)

int

In [23]:
val1=100

In [25]:
val2 = val1   # pass by reference

In [26]:
val2

100

In [30]:
val1 = 200

In [31]:
val1

200

In [32]:
val2

100

In [37]:
id(val1), id(val2)

(1946321184, 1946319584)

In [38]:
id(val1)==id(val2)

False

In [39]:
val3 = 200

In [40]:
id(val1), id(val3)

(1946321184, 1946321184)

In [41]:
name = "Pakistan"

In [43]:
name.count('a')

2

In [44]:
name.find('n')

7

In [45]:
len(name)

8

In [48]:
name="Pakistan"
year=1947
print(f"I am {name} and I came into existance in {year}")

I am Pakistan and I came into existance in 1947

In [49]:
"This is my friend's Book"

"This is my friend's Book"

# String Formatting

In [50]:
name=input("Enter your name")
age = input("Enter your age ")
print("My name is {} , My age is {}".format(name, age))

Enter your nameSuneel Kumar
Enter your age24
My name is Suneel Kumar , My age is 24

In [51]:
name=input("Enter your name").split()
age=input("Enter your age ")
print(f"My name is {name}, My age is {age}")

Enter your nameSuneel Kumar
Enter your age24
My name is ['Suneel', 'Kumar'], My age is 24

In [53]:
name = input("Enter your name ").split(',')

Enter your name Suneel Kumar

In [54]:
# immutable , iterable
name[0]='p'

In [55]:
name

['p']

In [57]:
print('We are \"Students\" in AI Course. ')

We are "Students" in AI Course.

# Operators
<b>Operator : </b> + - * /

In [60]:
2 + 6

8

In [59]:
2.4 + 8

10.4

In [61]:
12 / 5

2.4

In [62]:
12 // 5

2

<b>Counter</b> : Increment, Decrement

In [63]:
age = 10

In [64]:
age = age+1

In [65]:
age

11

In [66]:
age += 1

In [67]:
age

12

In [68]:
age -= 1

In [69]:
age *= 2

In [70]:
age

22

In [71]:
age //= 2

In [72]:
age

11

<b>Modulo Operator (%) </b> returns Remainder

In [73]:
18%5

3

>, >=, <, <= , ==, !=(returns Bool)
<b>Logical Operator :</b> not and or

# Python List

In [77]:
a=[]

In [78]:
print(type(a))

<class 'list'>

In [80]:
b =     [12, 23.4, False, "Pakistan",[12,34]]
#index  [ 0   1      2       3           4  ]  
#-ve index[-5 -4     -3     -2           -1 ]

In [81]:
b[-1][1]

34

In [82]:
a.append("marks")

In [83]:
a

['marks']

In [84]:
a.append("Paper")

In [85]:
a

['marks', 'Paper']

In [86]:
a.insert(2, "Pencil")

In [87]:
a

['marks', 'Paper', 'Pencil']

In [88]:
c = a.copy()

In [89]:
c

['marks', 'Paper', 'Pencil']

In [90]:
a.extend(["a", "b", "c", "d"])

In [91]:
a

['marks', 'Paper', 'Pencil', 'a', 'b', 'c', 'd']

In [92]:
a.append(["a", "b", "c", "d"])

In [93]:
a

['marks', 'Paper', 'Pencil', 'a', 'b', 'c', 'd', ['a', 'b', 'c', 'd']]

In [94]:
a.extend("Suneel")

In [95]:
a

['marks',
 'Paper',
 'Pencil',
 'a',
 'b',
 'c',
 'd',
 ['a', 'b', 'c', 'd'],
 'S',
 'u',
 'n',
 'e',
 'e',
 'l']

In [98]:
a.index("marks", 0, 5)

0

In [99]:
del a[13] # by index

In [100]:
rem = a.remove("Pencil")

In [101]:
print(rem)

None

In [102]:
a

['marks',
 'Paper',
 'a',
 'b',
 'c',
 'd',
 ['a', 'b', 'c', 'd'],
 'S',
 'u',
 'n',
 'e',
 'e']

In [104]:
removedValue = []

In [105]:
removedValue.append(a.pop())

In [106]:
removedValue

['e']

In [107]:
removedValue.sort()

In [108]:
removedValue

['e']

In [109]:
alist = [23,45,43,12,2,78,65,89]

In [110]:
sorted_in_ascending_order = sorted(alist)

In [111]:
sorted_in_ascending_order

[2, 12, 23, 43, 45, 65, 78, 89]

In [112]:
alist

[23, 45, 43, 12, 2, 78, 65, 89]

In [113]:
sorted_in_descending_order = sorted(alist, reverse=True)

In [114]:
sorted_in_descending_order

[89, 78, 65, 45, 43, 23, 12, 2]

# Slicing a List

In [116]:
mylist = [2,3,4,5,6,7,8,9]

In [117]:
sliced = mylist[2:5]

In [118]:
sliced

[4, 5, 6]

In [119]:
sliced[2] = 66

In [120]:
sliced

[4, 5, 66]

In [121]:
#copy List trick #03
newSlice = mylist[:]
newSlice

[2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
aslice = mylist[:5]
aslice

[2, 3, 4, 5, 6]

In [125]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
mylist[-4:]

[6, 7, 8, 9]

In [127]:
yourlist = [1,2,3,4,5,6,7,8,9,0]

In [128]:
yourlist[0:10:3]

[1, 4, 7, 0]

In [129]:
yourlist[-8:8]

[3, 4, 5, 6, 7, 8]

In [130]:
yourlist[5:-9]

[]

In [131]:
yourlist[5:-9:-1]

[6, 5, 4, 3]

In [134]:
yourlist[::-1] #list_with_reverse_order

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Tuple

In [141]:
tuple1 = (1, 2, 3)

In [142]:
print(tuple1)

(1, 2, 3)

In [143]:
tuple2 = ("A", "B", "C")

In [144]:
print(tuple2)

('A', 'B', 'C')

In [145]:
# converting tuple to list
tuple_to_list = list(tuple2)

In [146]:
tuple_to_list

['A', 'B', 'C']

# Set
A set is a collection which is <b>unordered</b> and <b>unindexed</b>

In [147]:
varSet = {"how", "are", "you"}
print(varSet)

{'how', 'you', 'are'}

In [150]:
# Checking condition.
print("are" in  varSet) #return Bool

True

In [151]:
varSet.add("World")

In [152]:
varSet

{'World', 'are', 'how', 'you'}

In [153]:
# Add multiple items to a set
varSet.update(["I","am","fine"])
varSet

{'I', 'World', 'am', 'are', 'fine', 'how', 'you'}

In [154]:
varSet.discard('are')

In [155]:
varSet

{'I', 'World', 'am', 'fine', 'how', 'you'}

# Dictionary
A <b>dictionary</b> is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [156]:
dict1 = {"key": "Locker", "fruit":"apple", "mango": "Chausa"}
dict1

{'key': 'Locker', 'fruit': 'apple', 'mango': 'Chausa'}

In [158]:
dict1["key"]

'Locker'

In [159]:
dict1.get('key')

'Locker'

In [166]:
#Another way of creating dictionaries.
dict2 = dict(brand="Ford", model="Mustang", year=1964)
dict2

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [167]:
# Assigning different value to the key.
dict1["fruit"] = "Orange"

In [168]:
# Adding item in the dictionary.
dict1["colour"] = "Red"

In [169]:
dict1

{'fruit': 'Orange', 'mango': 'Chausa', 'colour': 'Red'}

In [170]:
# Removing item with the specific key name in the dictionary.
dict1.pop("fruit")
# Another wayof removing item by del keyword.

'Orange'

# Nested Dictionary

In [171]:
Courses = {
  "course1" : {
    "name" : "OS",
    "year" : 2019
  },
  "course2" : {
    "name" : "WE",
    "year" : 2019
  },
  "course3" : {
    "name" : "DBMS",
    "year" : 2019
  }
}
Courses

{'course1': {'name': 'OS', 'year': 2019},
 'course2': {'name': 'WE', 'year': 2019},
 'course3': {'name': 'DBMS', 'year': 2019}}

In [172]:
# Another way of nesting a dictionaries.
course1 = {
    "name" : "OS",
    "year" : 2019
  }
course2 = {
    "name" : "WE",
    "year" : 2019
  }
course3 = {
    "name" : "DBMS",
    "year" : 2019
  }
Course = {
    "mycourse1": course1,
    "mycourse2": course2,
}
Course

{'mycourse1': {'name': 'OS', 'year': 2019},
 'mycourse2': {'name': 'WE', 'year': 2019}}

# Conditions

<b>if else</b>

In [173]:
a = 55
b = 44
if b < a:
    print("a is greater than  b")
else:
    print("b is greater than a")

a is greater than  b

<b>elif</b>

In [175]:
a = 65
b = 78
if a > b:
    print("a is greater than b ")
elif b > a:
    print("b is greater than a ")
else:
    print("Nothing to show u")

b is greater than a

<b>short cut if else</b>

In [176]:
a = 3
b = 2
print("a is greater than b ") if a > b else print("b is greater than a ")

a is greater than b

 <b>short Three condition at an time</b>

In [177]:
a = 330
b = 330
#(first condition)  (---second condition---)  (third condition)       
print("A") if a > b else print("=") if a == b else print("B")

=

<b>And</b>

In [178]:
a = 1
b = 2
c = 3
if c > b and b > a:
    print("Condition satisfied")
else:
    print("Not satisfied")

Condition satisfied

<b>Or</b>

In [179]:
a = 1
b = 2
c = 3
if c > b or b > a or c > a:
    print("Condition satisfied")
else:
    print("Not satisfied")

Condition satisfied

<b>Nested if-else</b>

In [180]:
a = 100
if a > 40:
    if a > 90:
        print(a)
else:
    print("a is not valid")

100

# While Loop

In [181]:
# Generating number from 1-10 using while loop.
i = 1
while i < 11:
    print(i)
    i+= 1

1
2
3
4
5
6
7
8
9
10

In [182]:
# Using break staement in while loop.
i = 1
while i < 11:
    i+= 1
    if i == 5:
        break
    print(i)

2
3
4

In [183]:
# Using continue staement in while loop.
i = 1
while i < 11:
    i+= 1
    if i == 5:
        continue
    print(i)

2
3
4
6
7
8
9
10
11

# For loop

In [184]:
#working with basic loop

for a in range(5):
  #indent
  print(a, "Usama")

0 Usama
1 Usama
2 Usama
3 Usama
4 Usama

In [186]:
#printing single charaacter fromstrijg
for char in "pakistanzindabad":
      print(char.upper(), end="")

PAKISTANZINDABAD

In [187]:
# printing list from loop.
for student in ["usama", "rameez", "ali", "ather"]:
      print(f"the name of the stuidnetg is {student}")

the name of the stuidnetg is usama
the name of the stuidnetg is rameez
the name of the stuidnetg is ali
the name of the stuidnetg is ather

In [188]:
# printing form specefic range
for num in range(1,10):
      print(num)

1
2
3
4
5
6
7
8
9

In [189]:
# printing number form specefic range with step
for num in range(1,10,2):
      print(num)

1
3
5
7
9

In [190]:
# printing number form specefic range with step in reverse order
for num in range(10,0,-1):
      print(num)

10
9
8
7
6
5
4
3
2
1

In [191]:
# printing nam eiht other string
student_list  = ["usama", "rameez", "ali", "ather"]

In [192]:
for i in student_list:
      print(i, "pakistani")

usama pakistani
rameez pakistani
ali pakistani
ather pakistani

In [193]:
emptylist = []
for i in student_list:
      emptylist.append(f"{i} pakistani")

In [194]:
#changing string data
for num in range(len(student_list)):
      student_list[num] = student_list[num] + " pakistani"
student_list

['usama pakistani', 'rameez pakistani', 'ali pakistani', 'ather pakistani']

In [197]:
# set,         dictionary 
print(varSet , dict1)

{'how', 'World', 'I', 'am', 'fine', 'you'} <class 'list'> {'mango': 'Chausa', 'colour': 'Red'}

In [199]:
# Applying for loop to list.
for i in student_list:
    print(i)

usama pakistani
rameez pakistani
ali pakistani
ather pakistani

In [204]:
# Applying for loop to set.
for i in varSet:
    print(i)

how
World
I
am
fine
you

In [205]:
# Applying for loop to dictionary(will print only keys).
for i in dict1:
    print(i)

mango
colour

In [206]:
# For accessing values of key (using for loop).
for i in dict1.values():
    print(i)

Chausa
Red

In [207]:
# For accessing both keys and values of dictionary(using for loop).
for k,v in dict1.items():
    print(k,v)

mango Chausa
colour Red

In [213]:
# using break statement in for loop.
for i in varSet:
    
    if i == "how":
        break
    print(i)

In [211]:
# Using continue statement in for loop.
for i in varSet:
    if i == "how":
        continue
    print(i)
# it prints all elements except "how".

World
I
am
fine
you

In [ ]:
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 2000 and 3200 (both included).
#The numbers obtained should be printed in a comma-separated sequence on a single line.

for num in range(2000, 3201):
      if(num%7 == 0):
        if(num%5 != 0):
              print(num, end=',')

# range() function in for loop.

In [214]:
for x in range(5):
    print(x)

0
1
2
3
4

In [215]:
# By assigning starting number to the range function.
for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [216]:
# Incrementing in the sequence with 1.
for x in range(2,10,2):
    print(x)

2
4
6
8

# Using Nested Loop

In [217]:
lis1 = ['a','b','c','d']
lis2 = [1,2,3,4]
for i in lis1:
    for j in lis2:
        print(i,j)

a 1
a 2
a 3
a 4
b 1
b 2
b 3
b 4
c 1
c 2
c 3
c 4
d 1
d 2
d 3
d 4

# Function in Python

In [218]:
def function1():
    print("This is my first function")
function1()

This is my first function

In [219]:
#function defininion
def call():
    name = input("Enter Your name: ")
    print(f"Welcome {name}")

In [220]:
call()

Enter Your name: Suneel Kumar
Welcome Suneel Kumar

In [236]:
#function defininion
def call():
    name = input("Enter Your name: ")
    gender = input("Enter gender:").lower()
    if(gender == 'male'):
            print(f"Welcome Mr. {name}")
    else:
            print(f"Welcome Ms. {name}")
call()

Enter Your name: Suneel Kumar
Enter gender:male
Welcome Mr. Suneel Kumar

In [225]:
#trick 01
list1 = []
def even_odd_func():
    num1 = 0
    flag = True
    while(flag):
        num = input("Enter number/ write 'q' to exit")
        list1.append(num)
        if(num == 'q'):
            if(int(list1[-2]) % 2 == 0):
                print("your number is even")
            else :
                print("your number is odd")  
    flag = False

even_odd_func()

In [234]:
#trick 02
def even_odd_func():
    while(True):
        num = input("Enter number/ write 'q' to exit")
        if(num != 'q'):
            if(int(num) % 2 == 0):
                 print("your number is even")
            else:
                print("your number is odd")  
        else:
                  break

In [235]:
even_odd_func()

Enter number/ write 'q' to exit2
your number is even
Enter number/ write 'q' to exit3
your number is odd
Enter number/ write 'q' to exit5
your number is odd
Enter number/ write 'q' to exitq

In [228]:
# Parametric function.
def function2(var):
    print(var)
function2("This is the second function")
function2("And it is a parametric function.")

This is the second function
And it is a parametric function.

In [1]:
# Taking multiple argument to the function.
def function3(name_var, your_name):
    print(name_var + ": " + your_name)
function3("Name","Jack")
function3("Father Name","Jonson")

Name: Jack
Father Name: Jonson

# Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [2]:
def function4(*var):
        print(var, end='')
function4("orange", "mango")

('orange', 'mango')

# Default Parameter Value

In [3]:
def func(var = "newyork"):
    print("You are in",var)
func()
func("london")
func("paris")

You are in newyork
You are in london
You are in paris

# Passing a List as an Argument

In [4]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

# Using return keword to return value.

In [5]:
# Function that return the square of number.
def retun(x):
    return x*x
var = 3
print("The square of",var,"is",retun(var))

The square of 3 is 9

# Recursion function

In [7]:
def tri_recursion(k):
    if(k>0):
        result = k+tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

print("\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Classes & Objects

In [8]:
class first:
    x = 5

obj = first()
print(obj.x)

5

<h3>Working with constructor of class and creating varaible</h3>

In [9]:
class fruit:
    def __init__(self, fname, catagory):
        self.fname = fname
        self.catagory = catagory
obj1 = fruit("Orange", "Citrus")
print(obj1.fname, "is the", obj1.catagory, "catagory")

Orange is the Citrus catagory

# <h3>Creating Method</h3>

In [14]:
class fruit:
    def __init__(self, fname, catagory):
        self.fname = fname
        self.catagory = catagory
    def func1(self):
        print("your fruit is"+self.fname)
        
obj2 = fruit("Orange", "Citrus")
obj2.func1()

your fruit isOrange

In [15]:
class Car:
    def __init__(self, make, model, year):
        """Initialize attributes to describe a car."""
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0
    def get_descriptive_name(self):
        long_name = str(self.year) + ' ' + self.make + self.model
        return long_name.title()
    def set_odometer_reading(self,mileage):
        self.odometer_reading = mileage
    def read_odometer(self):
        print("This car has " + str(self.odometer_reading) + " miles on it.")

In [16]:
car1 = Car('Honda', 'cd70', 2010)

In [17]:
car1.read_odometer()

This car has 0 miles on it.

In [18]:
car1.set_odometer_reading(600)

In [19]:
car1.read_odometer()

This car has 600 miles on it.

# More on classes

In [20]:
class Employee():
    def __init__(self, Empname, EmpAge, EmpSalary):
        self.Empname = Empname
        self.EmpAge = EmpAge
        self.EmpSalary = EmpSalary
  
    def get_emp_salary(self):
        print(f'your {self.EmpSalary}')
    def set_emp_salary(self, sal):
        self.EmpSalary = sal

In [21]:
emp = Employee('usama', 20, 50000)
emp.get_emp_salary()

your 50000

In [22]:
emp.set_emp_salary(100000000000)

In [23]:
emp.get_emp_salary()

your 100000000000

In [25]:
%run car.py

In [26]:
from car import Car

In [27]:
car1 = Car('Honda', 'cd70', 2015)

In [28]:
car1.get_descriptive_name()

'2015 Hondacd70'

# The self Parameter
<h4>The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.</h4>
<h4>It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class</h4>

In [30]:
# Creating parent class
class parent:
    def __init__(self, fname, rollno):
        self.firstname = fname;
        self.rollNumber = rollno;
    def printName(self):
        print('My name is',self.firstname,'\nand Roll number is: ',self.rollNumber);
        
        
obj = parent('Usama', 2103102);
obj.printName();

My name is Usama
and Roll number is:  2103102

In [32]:
#inheriting parent class to child class.
class child(parent):
    pass

obj = child('Usama', 4802292); # Accesing parent class method.
obj.printName();
# Question Here

My name is Usama
and Roll number is:  4802292

In [39]:
class Battery():
    def __init__(self, amp, plate, manuf):
        self.amp = amp
        self.plate = plate
        self.manuf = manuf
    def get_amp(self):
        return self.amp

In [41]:
class ElectricCar(Car):
    def __init__(self, make, model, year):
        super().__init__(make, model, year)
        self.battey_size = 70
        self.battery = Battery('227mph', 27, 'Osaka')
    def describeBattery(self):
        print(f'this car has a name call {self.make}, model  {self.model}, year {self.year}, and a battery ampere {self.battery.get_amp()} battery.')

In [42]:
Ecar = ElectricCar('Hondaa', 'ccr22', 2017)

In [43]:
Ecar.get_descriptive_name()

'2017 Hondaaccr22'

In [44]:
Ecar.describeBattery()

this car has a name call Hondaa, model  ccr22, year 2017, and a battery ampere 227mph battery.

In [45]:
class Restaurant():
    def __init__(self, restaurant_name, cuisine_type):
        self.restaurant_name =restaurant_name
        self.cuisine_type =cuisine_type
        self.number_serverd = 0
    def describe_restaurant(self):
        print(f'The retaurant name is {self.restaurant_name} and cuisine type is {self.cuisine_type}')  
    def open_restaurant(self):
        print('Restaurant is open')
    def set_number_served(self, num):
        self.number_serverd = num
    def increment_number_served(self, newNum):
        self.number_serverd += newNum

In [46]:
restaurant = Restaurant('Javed nihari', 'Nihari')

In [48]:
restaurant.number_serverd

0

In [49]:
restaurant.number_serverd = 10
restaurant.number_serverd

10

In [50]:
restaurant.number_serverd = 10
restaurant.number_serverd

10

In [51]:
restaurant.number_serverd

10

In [52]:
restaurant.increment_number_served(20)
restaurant.number_serverd

30

In [54]:
restaurant.restaurant_name

'Javed nihari'

In [55]:
restaurant.cuisine_type

'Nihari'

In [56]:
restaurant.describe_restaurant()

The retaurant name is Javed nihari and cuisine type is Nihari

In [57]:
restaurant.open_restaurant()

Restaurant is open

In [58]:
restaurant1 = Restaurant('California Pizza', 'Pizza')

In [59]:
restaurant1.describe_restaurant()

The retaurant name is California Pizza and cuisine type is Pizza

In [60]:
restaurant2 = Restaurant('Tooso', 'biryani')

In [61]:
restaurant2.describe_restaurant()

The retaurant name is Tooso and cuisine type is biryani

In [62]:
restaurant3 = Restaurant('Shinwari', 'Qourma')

In [63]:
restaurant3.describe_restaurant()

The retaurant name is Shinwari and cuisine type is Qourma

In [64]:
class User():
    def __init__(self, first_name, lastt_name, depart):
        self.first_name =first_name
        self.lastt_name =lastt_name
        self.depart = depart
        self.login_attempts = 0
    def describe_user(self):
        print(f'The User infroamtion:\nname: {self.first_name}\nlast name:  {self.lastt_name}\ndepartment: {self.depart}')  
    def greet_user(self):
        print(f'Welcome to {self.first_name} in our {self.depart} department')
    def increment_login_attempts(self):
        self.login_attempts +=1 
    def reset_login_attempts(self):
        self.login_attempts = 0

In [65]:
user1 = User('Usama', 'Rajput', 'IT')
user2 = User('Suneel', 'Kumar', 'IT')

In [67]:
user1.increment_login_attempts()
user1.login_attempts

2