In [15]:
for a in range(5):
    print(a, "Suneel", end="")

0 Suneel1 Suneel2 Suneel3 Suneel4 Suneel

In [5]:
for a in range(1, 5):
    print(a, "Suneel")

1 Suneel
2 Suneel
3 Suneel
4 Suneel

In [14]:
for char in 'PakistanZindabad':
#     print(char.upper(), end=" ")
    print(char.upper(), end="")

PAKISTANZINDABAD

In [19]:
students = ["Asad", "Ahmed", "Ali", "Basir", "Tahir"]
for student in students:
    print(f"The name of student is \"{student}\"")

The name of student is "Asad"
The name of student is "Ahmed"
The name of student is "Ali"
The name of student is "Basir"
The name of student is "Tahir"

In [20]:
for num in range(1, 10, 2):
    print(num)

1
3
5
7
9

In [21]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [23]:
for num in range(10, 0, -2):
    print(num)

10
8
6
4
2