# Introduction to python 

we will us <b>python</b> crash course book

In [1]:
print("Helo","Python","Hru",sep="=====", end="\t")
print("ONe more")

Helo=====Python=====Hru	ONe more

In [ ]:
print("Welcome")

# Varaibles

Data types

int , flaot, string, boolean

In [ ]:
a = 10

In [ ]:
print(type(a))

In [ ]:
id(a)

In [ ]:
b = 12.4
type(b)

In [ ]:
c = True
d = False

In [ ]:
type(c)

In [ ]:
name = "AI"
print(type(name))

In [ ]:
name = 45

In [ ]:
type(name)

In [3]:
val1  = 100

In [4]:
val2 = val1  # pass by reference

In [5]:
val2

100

In [6]:
val1 = 200

In [7]:
val2

100

In [8]:
id(val1)==id(val2)

False

In [ ]:
val3 = 200

In [ ]:
id(val1)==id(val3)

In [14]:
name  = "Pakistan"

In [15]:
name.count('a')

2

In [16]:
name.find('n')

7

In [17]:
len(name)

8

In [18]:
name.translate()

TypeError: translate() takes exactly one argument (0 given)

In [ ]:
name =  "Pakistan"
year = 1947

# i am Pakistan and i came into existance in 1947
print("i am " +name+ " and i came into existance in " +str(year))

In [ ]:
"this is my friend's book"

# String formatting

In [ ]:
name  = input("Enter your name")
age  = input("Enter your age")
print("My name is {} and my age is {}".format(name,age))

In [ ]:
name  = input("Enter your name").split(,)
age  = input("Enter your age")
print(f"My name is {name} and my age is {age}")

In [20]:
name  = input("Enter your name").split(',')

Enter your namesanj
['sanj']

In [21]:
name[0]

'sanj'

In [ ]:
# immutable , iterable
name

In [ ]:
name[0]='p'

In [23]:
print("We are \"Students\" in \'AI\' course")

We are "Students" in 'AI' course

# Operators

  operator: + - * /

In [24]:
2  +  4

6

In [25]:
2.4 + 8

10.4

In [26]:
12 / 5

2.4

In [31]:
20 // 5

4

Counter >>. increment decrement

In [32]:
age  = 10

In [33]:
age =age + 1
age

11

In [34]:
age +=1
age

12

In [35]:
age -=1
age

11

In [36]:
age *=2
age

22

In [37]:
age //=2
age

11

Modulo Operator (%) returns remainder

In [38]:
18%5

3

> , < >=, <=, ==, !=  return boolean values

Logical operators : not , and , or

# Python List

In [47]:
a = []

In [48]:
print(type(a))

<class 'list'>

# indexing

In [43]:
b =    [12, 23.4, False, "Pakistan",[12,34]]
#index [ 0   1      2       3           4]  
#-ve idex[-5 -4     -3     -2           -1 ]

In [40]:
b[2]

False

In [41]:
b[-2]

'Pakistan'

In [42]:
b[-1][1]

34

In [44]:
b[3][4]

's'

In [49]:
a.append("marks")

In [50]:
a

['marks']

In [51]:
a.append("paper")

In [52]:
a

['marks', 'paper']

In [53]:
a.insert(2,"pencil")
a

['marks', 'paper', 'pencil']

In [54]:
c = a.copy()

In [55]:
c

['marks', 'paper', 'pencil']

In [56]:
a.append(["a", "b", 'c'])

In [57]:
a

['marks', 'paper', 'pencil', ['a', 'b', 'c']]

In [58]:
a.extend(["a", "b", 'c'])

In [59]:
a

['marks', 'paper', 'pencil', ['a', 'b', 'c'], 'a', 'b', 'c']

In [60]:
a.extend("nasir")

In [61]:
a

['marks',
 'paper',
 'pencil',
 ['a', 'b', 'c'],
 'a',
 'b',
 'c',
 'n',
 'a',
 's',
 'i',
 'r']

In [62]:
a.index('marks', 1)

ValueError: 'marks' is not in list

In [ ]:
del a[13] # by index
a

In [ ]:
rem=a.remove("pencil")
print(rem)

In [ ]:
a

In [ ]:
removedValue=[]

In [ ]:

removedValue.append(b.pop())

In [ ]:
removedValue

In [ ]:
removedValue.sort()

In [63]:
alist = [23,45,43,12,2,78,65,89]

In [64]:
sorted_in_ascending_order = sorted(alist)

In [65]:
sorted_in_descending_order  = sorted(alist,reverse=True)

In [67]:
sorted_in_ascending_order ,sorted_in_descending_order, alist

([2, 12, 23, 43, 45, 65, 78, 89],
 [89, 78, 65, 45, 43, 23, 12, 2],
 [23, 45, 43, 12, 2, 78, 65, 89])

# Slicing a list

In [68]:
mylist = [2,3,4,5,6,7,8,9]

In [70]:
sliced = mylist[2:5]

[4, 5, 6]

In [71]:
sliced[2]=66

In [72]:
sliced

[4, 5, 66]

In [73]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
newSlice = mylist[:]

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
aslice = mylist[:55]
aslice

In [ ]:
mylist[-4:]

In [80]:
yourlist = [1,2,3,4,5,6,7,8,9,0]

In [83]:
yourlist[0:10:3]

[1, 4, 7, 0]

In [ ]:
yourlist[-8:8]

In [ ]:
yourlist[5:-9]

In [ ]:
yourlist[5:-9:-1]

In [ ]:
yourlist[::-1]

In [ ]:
list2d = [[[1,2,3,4,5],[6,7,8,0,0]]]

In [ ]:
print(list2d)

In [ ]:
a= [1,2,3, [1,2,3], [3,5,7]]

In [ ]:
a